@using System.Web.Optimization
@model PrettyWebsite.Models.ViewModels.Interfaces.IPageViewModel<PrettyWebsite.Models.Pages.SitePageData>

<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
    <link rel="stylesheet" href="~/Static/css/Bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/Static/css/style.css" />

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="~/Static/js/bootstrap.js"></script>
</head>



<body>
    @Html.PropertyFor(model => model.Layout.PageSettings.Header, new { Tag = "ContentReferencePartial" })
    <div class="container bg-dark">
        @RenderBody()
    </div>

    @Html.PropertyFor(model => model.Layout.PageSettings.Footer, new { Tag = "ContentReferencePartial" })

</body>

</html>
