@model PrettyWebsite.Models.ViewModels.NewsPageViewModel

<div>
    <div @Html.EditAttributes(x => x.CurrentPage.Image)>
        <img src="@Url.ContentUrl(Model.CurrentPage.Image.PageImage)" alt="@Html.PropertyFor(x => x.CurrentPage.Image.AltText)" />
    </div>

    <h2>@Html.PropertyFor(x => x.CurrentPage.Headline)</h2>
    @Html.PropertyFor(x => x.CurrentPage.Text)
</div>





