@model PrettyWebsite.Models.ViewModels.Blocks.MovieDetailBlockViewModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/Static/js/ReviewStar.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

<!-- Main CSS-->
<link href="~/Static/css/form.css" rel="stylesheet" media="all">
<!-- Main JS-->
<!-- Jquery JS-->
<!-- Main JS-->
<script src="~/Static/js/global.js"></script>


<div class="container mb-4 mt-5 text-center">
    <img class="mb-4" src="@Model.Movie.Poster" alt="">
    <h4><b>@Model.Movie.Title (@Model.Movie.Year)</b></h4>
    <p><strong>@Html.PropertyFor(m => m.CurrentBlock.GenreLabel):</strong> @Model.Movie.Genre</p>
    <p><strong>@Html.PropertyFor(m => m.CurrentBlock.DirectorLabel):</strong> @Model.Movie.Director</p>
    <p><strong>@Html.PropertyFor(m => m.CurrentBlock.ActorsLabel):</strong> @Model.Movie.Actors</p>
    <p><strong>@Html.PropertyFor(m => m.CurrentBlock.PlotLabel):</strong> @Model.Movie.Plot</p>
    <p>
        <strong>@Html.PropertyFor(m => m.CurrentBlock.RatingsLabel):</strong><br />
        @foreach (var item in Model.Ratings)
        {
            @item.Source @: @item.Value<br />
        }
    </p>
    <p><strong>@Html.PropertyFor(m => m.CurrentBlock.DurationLabel):</strong> @Model.Movie.Runtime</p>
</div>

