@using EPiServer.Web.Mvc.Html
@using PrettyWebsite.Models.Forms
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

@model SearchFormModel



    @Html.HiddenFor(m => m.CurrentBlockLink)
    @Html.HiddenFor(m => m.CurrentPageLink)
    @Html.HiddenFor(m => m.CurrentLanguage)
    <div class="row g-3 ml-2">

        <div class="col-auto">
            <div class="row g-3">
                <div class="col-auto">
                    
                    <select class="form-select btn-danger text-white mt-3 ml-4 mr-4" id="select" style="height:52px;font-size:medium;" aria-label="Default select example">
                        <option value="1" selected="selected">@Html.PropertyFor(m => m.ParentBlock.SearchType1)</option>
                        <option value="2">@Html.PropertyFor(m => m.ParentBlock.SearchType2)</option>
                    </select>
                </div>
                <div class="col-auto">
                    
                    <input autofocus type="text" class="form-control mt-3 ml-3" id="searchText" style="height:52px;width:150px;" placeholder="@Html.PropertyFor(m => m.ParentBlock.placeholder)">
                </div>
                <div class="col-auto">
                    <button id="btn" class="btn btn-primary mb-3 mt-3" style="padding-right:20px;padding-left:20px;"><i class="fa fa-search" style="color:white;"></i></button>
                </div>
            </div>
        </div>
    </div>



   <div id="partialResult"></div>

<script>
    $("#btn").click(function () {

        var type = $("#select").val();
        var query = $("#searchText").val();
        $.get("/SearchResult/Submit?type=" + type + "&query=" + query,            
            function (data, status) {
                $("#partialResult").empty().append(data);
                //alert("Data: " + data + "\nStatus: " + status);
            });
    });
</script>





