@using EPiServer.Web.Mvc.Html
@using PrettyWebsite.Models.Forms


@model ReviewFormModel

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/Static/js/ReviewStar.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

<!-- Main CSS-->
<link href="~/Static/css/form.css" rel="stylesheet" media="all">
<!-- Main JS-->
<!-- Jquery JS-->
<!-- Main JS-->
<script src="~/Static/js/global.js"></script>
<div class="text-center mt-3 mb-4">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#showForm" aria-expanded="false" aria-controls="collapseExample">
        Create Movie Review
    </button>
</div>


@using (Html.BeginForm("Submit", null))
{
    <div id="showForm" class="collapse page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">Movie Review</h2>
                </div>
                <div class="card-body">

                    @Html.HiddenFor(m => m.CurrentBlockLink)
                    @Html.HiddenFor(m => m.CurrentPageLink)
                    @Html.HiddenFor(m => m.CurrentLanguage)
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-row">
                        <div class="name"></div>
                        <div class="value text-danger">@Html.ValidationSummary()</div>
                    </div>
                    <div class="form-row">

                        <div class="name">(*) Author</div>
                        <div class="value">
                            @Html.TextBoxFor(m => m.Author, htmlAttributes: new
                            {
                               @class = "input--style-6",
                               @type = "text"
                            })
                        </div>
                        
                    </div>
                    <div class="form-row">
                        <div class="name">(*) Text</div>
                        <div class="value">
                            <div class="input-group">                               
                                @Html.TextAreaFor(m => m.Text, htmlAttributes: new
                               {
                                   @class = "input--style-6"
                               })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Rating</div>
                        <div class="value">
                            <div class="container">
                                <div class="row">
                                    <h2><small>Hover and click on a star</small></h2>
                                </div>
                                <div class="row lead">
                                    <div id="stars" class="starrr"></div>
                                    <h4>You gave a rating of <span id="count">0</span> star(s)</h4>
                                    @Html.HiddenFor(m => m.Rating, new { @id = "count2", @value = "1" })
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <input class="btn btn--radius-2 btn--blue-2" type="submit" value="Submit Review" />
                </div>
            </div>
        </div>
    </div>
}

<script>


    function showForm() {
        document.getElementById("showForm").style.visibility = "visible";
    }

</script>


