@model PrettyWebsite.Models.ViewModels.MovieViewModel

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/Static/js/ReviewStar.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="card">
    <img src="@Model.Movie.Poster" alt="">
    <div class="container">

        <h4><b>@Model.Movie.Title (@Model.Movie.Year)</b></h4>
        <p><strong>Genre:</strong> @Model.Movie.Genre</p>
        <p><strong>Director:</strong> @Model.Movie.Director</p>
        <p><strong>Actors:</strong> @Model.Movie.Actors</p>
        <p><strong>Plot:</strong> @Model.Movie.Plot</p>
        <p>
            <strong>Ratings:</strong><br />
            @foreach (var item in Model.Movie.Ratings)
            {
                @item.Source @: @item.Value<br />
            }
        </p>
        <p><strong>Duration:</strong> @Model.Movie.Runtime</p>
    </div>

    <!--<h4>Create A review</h4>

        @using (Html.BeginForm("MovieDetails", "SearchPage", FormMethod.Get))
        {
            <div class="form-group">
                <input hidden name="id" type="text" value="@Model.Movie.imdbID" />
                <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
            </div>

            <div class="form-group">
                <textarea name="text" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter your review here..." rows="6"></textarea>
            </div>
            <div class="container">
                <div class="row">
                    <h2><small>Hover and click on a star</small></h2>
                </div>
                <div class="row lead">
                    <div id="stars" class="starrr"></div>
                    <h4>You gave a rating of <span id="count">0</span> star(s)</h4>
                    <input hidden name="rating" type="text" id="count2" />
                </div>
            </div>
            <input type="submit" value="submit" />
        }
    </div>-->



    @if (Model.ReviewList.Count > 0)
    {
        foreach (var review in Model.ReviewList)
        {
            <div class="card">

                <div class="container">

                    <p><strong>Author</strong> @review.Name</p>
                    <p>@review.Text</p>
                    <p><strong>Rating:</strong> @review.Rating</p>
                    <p><strong>Date:</strong> @review.PublicationDate</p>
                </div>
            </div>
        }
    }


    

    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>

