@using EPiServer.Framework.Localization
@using EPiServer.ServiceLocation
@using EPiServer.Web.Mvc.Html
@using PrettyWebsite.Models.Forms


@model ReviewFormModel
@{
    var localizationService = ServiceLocator.Current.GetInstance<LocalizationService>();
    Layout = null;
}

<div class="text-center mt-3 mb-4">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#showForm" aria-expanded="false" aria-controls="collapseExample">
        Create Movie Review
    </button>
</div>

<div id="showForm" class="collapse bg-dark">
@using (Html.BeginForm("Submit", "Movie", FormMethod.Post))
{
    <div class="card p-2">

        <div class="card-title m-2">
            <h2 m-2>@localizationService.GetString("/ReviewForm/Title")</h2>
        </div>

        <div class="card-body m-2 p-2">

            @Html.HiddenFor(m => m.Id)
            <div class="row g-5">
                <div class="row m-2">
                    <label for="Author" class="col-sm-2 col-form-label">(*)&nbsp;@localizationService.GetString("/ReviewForm/Name")</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Author, htmlAttributes: new {@class = "form-control", @type = "text"})
                    </div>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.Author)</span>
                </div>
                <div class="row m-2">
                    <label for="Text" class="col-sm-2 col-form-label">(*)&nbsp;@localizationService.GetString("/ReviewForm/Text")</label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(m => m.Text, htmlAttributes: new {@class = "form-control"})
                    </div>
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.Text)</span>
                </div>
                <div class="row m-2">
                    @Html.HiddenFor(m => m.Rating, new {@id = "count2", @value = "1"})
                    <h2 class="p-2">@localizationService.GetString("/ReviewForm/Star")</h2>
                    <div id="reviewStars" class="g-1 p-2 flex-row align-content-center justify-content-center">
                        <i class="fas fa-star text-warning" data-index="0"></i>
                        <i class="far fa-star text-warning" data-index="1"></i>
                        <i class="far fa-star text-warning" data-index="2"></i>
                        <i class="far fa-star text-warning" data-index="3"></i>
                        <i class="far fa-star text-warning" data-index="4"></i>
                    </div>
                    <h4 class="p-2">@localizationService.GetString("/ReviewForm/RatingResponse")&nbsp;<span id="count">1</span>&nbsp;@localizationService.GetString("/ReviewForm/StarLabel")</h4>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <input class="btn btn-primary" type="submit" value="@localizationService.GetString("/ReviewForm/SubmitButtonText")"/>
        </div>
        
    </div>
}
</div>