@using EPiServer.Framework.Localization
@using EPiServer.ServiceLocation
@using EPiServer.Web.Mvc.Html
@using PrettyWebsite.Models.Forms


@model ReviewFormModel
@{
    var localizationService = ServiceLocator.Current.GetInstance<LocalizationService>();
    Layout = null;
}

<div class="text-center mt-3 mb-4">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#showForm" aria-expanded="false" aria-controls="collapseExample">
        Create Movie Review
    </button>
</div>


@using (Html.BeginForm("Submit", null))
{
    <div id="showForm" class="collapse page-wrapper bg-dark p-t-100 p-b-50">
        <div class="wrapper wrapper--w900">
            <div class="card card-6">
                <div class="card-heading">
                    <h2 class="title">@localizationService.GetString("/ReviewForm/Title")</h2>
                </div>
                <div class="card-body">
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-row">
                        <div class="name"></div>
                        <div class="value text-danger">@Html.ValidationSummary()</div>
                    </div>
                    <div class="form-row">

                        <div class="name">(*)&nbsp;@localizationService.GetString("/ReviewForm/Name")</div>
                        <div class="value">
                            @Html.TextBoxFor(m => m.Author, htmlAttributes: new
                            {
                               @class = "input--style-6",
                               @type = "text"
                            })
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="name">(*)&nbsp;@localizationService.GetString("/ReviewForm/Text")</div>
                        <div class="value">
                            <div class="input-group">
                                @Html.TextAreaFor(m => m.Text, htmlAttributes: new
                               {
                                   @class = "input--style-6"
                               })
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">@localizationService.GetString("/ReviewForm/Rating")</div>
                        <div class="value">
                            <div class="container">
                                <div class="row">
                                    <h2><small>@localizationService.GetString("/ReviewForm/Star")</small></h2>
                                </div>
                                <div class="row lead">
                                    <div id="stars" class="starrr"></div>
                                    <h4>@localizationService.GetString("/ReviewForm/RatingResponse")&nbsp;<span id="count">0</span>&nbsp;@localizationService.GetString("/ReviewForm/StarLabel")</h4>
                                    @Html.HiddenFor(m => m.Rating, new { @id = "count2", @value = "1" })
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="card-footer">
                    <input class="btn btn--radius-2 btn--blue-2" type="submit" value="@localizationService.GetString("/ReviewForm/SubmitButtonText")" />
                </div>
            </div>
        </div>
    </div>
}



