@using System.Web.Mvc
@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage<PrettyWebsite.Business.Plugins.HandleReview.Models.ViewModel.HandleReviewViewModel>

@{
    Layout = "~/Business/Plugins/Shared/Layouts/_Admin.cshtml";
}
<div class="row bg-white p-5 card">
    @using (@Html.BeginForm("DeleteReviews","HandleReview",FormMethod.Post,new {id = "DeleteReviewsForm" }))
    {
        <div class="row p-2 mb-3">
            <h1>Administrate reviews</h1>
            <input type="submit" class="btn btn-danger" value="Delete selected reviews"/>
        </div>
        <div class="row" style="height: 70vh;">
            <div class="col-sm-12 col-md-4 border-right border-secondary pr-4">
                <h5>Movies</h5>
                <div class="list-group" id="list-tab" role="tablist">
                    @foreach (var movie in Model.Movies)
                    {
                        <a class="list-group-item list-group-item-action @(movie.Key == Model.Movies.FirstOrDefault().Key ? "active" : "")" id="list-@movie.Key.imdbID-list" data-toggle="list" href="#list-@movie.Key.imdbID" role="tab" aria-controls="@movie.Key.imdbID">@movie.Key.Title</a>
                    }
                </div>
            </div>
            <div class="col-sm-12 col-md-8 h-100 overflow-auto">
                <div class="tab-content" id="nav-tabContent">
                    @foreach (var movie in Model.Movies)
                    {
                        <div class="tab-pane fade @(movie.Key == Model.Movies.FirstOrDefault().Key ? "show active" : "")" id="list-@movie.Key.imdbID" role="tabpanel" aria-labelledby="list-@movie.Key.imdbID-list">

                            <h5>@movie.Key.Title <span class="badge bg-primary rounded-pill float-right mr-3">Average review: @Math.Round(movie.Value.Average(review => review.Rating), 1)</span></h5>
                            <ul class="list-group">
                                @foreach (var review in movie.Value)
                                {
                                    <li class="list-group-item border-0">
                                        <div class="card">
                                            <div class="card-header">
                                                <h6 class="card-title">@review.Name<span class="badge bg-primary rounded-pill float-right">Upvotes: @review.ReviewRating</span></h6>
                                            </div>
                                            <div class="card-body">
                                                <div class="input-group">
                                                    <div class="input-group-text">
                                                        <input class="form-check-input mr-1" type="checkbox" value="@review.Id.ExternalId" aria-label="Check to delete @review.Name">
                                                    </div>
                                                    <textarea class="form-control" disabled>@review.Text</textarea>
                                                    <span class="input-group-text" id="addon-wrapping">
                                                        <span class="badge">
                                                            @for (var i = 0; i < 5; i++)
                                                            {
                                                                <i class="@(i <= review.Rating ? "fas" : "far") fa-star text-warning"></i>
                                                            }
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>




@section Scripts{
    <script src="~/Business/Plugins/HandleReview/Static/js/HandleReview.js"></script>
}